html{    scroll-padding-top: 50.4px;}
body{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    font-family: helvetica,arial,sans-serif;
    margin:0;
}
.grid2{
    grid-column: 2;
}
img{
    max-width: 100%;
    height: auto;
}
nav, footer {
    background-color: black;
    color: white;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    position:sticky;
    width:100%;

}
nav{
    top:0;
}
header{
    background-color: lightgrey;
    height: 8em;
    place-content: center;
    place-items:center;
    border-radius: 0 0 5px 5px;
}
#Title{
    text-transform: uppercase;
}
footer{
    bottom:0;
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    display: inline-block;
    justify-self: start;
    margin-right: 1em;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
    color: red;
    cursor: pointer;
}
#name{
    background-color: gray;
}
.img-container{
    justify-items: center;
    display: inline-block;
}

img{
    display:block;
    justify-self:start;
}
#sign-up {
    background-color: lightgrey;
    min-height:10em;
    justify-items: center;
    border-radius: 5px; 
}

#sign-up form{
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 0.5rem 1rem;             
}
#sign-up input{
    border-radius: 5px;  
    box-shadow: 3px 5px 5px;
}
#sign-up button{
    width: 60%;
    justify-self: center;
}
#financials h3{
    justify-self: center;
}
table{
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}
table th, table td{ 
    white-space: nowrap;
}
th{
    border: 1px solid black;
    text-align: center;
}
td{
    border: 1px solid black;
    text-align: right;
    
}
td:first-child{
    font-weight: bold;
}
footer{
    text-align: right;
}
td:last-child{
    color:red;
}
tbody tr:nth-child(odd){
    background-color: rgba(161, 196, 241, 0.616);
}
tbody tr:nth-child(odd):hover{
    background-color: blue;
}
tbody tr:nth-child(even):hover{
    background-color: rgb(80, 153, 255);
}
.overflow{
    overflow-x:auto;
    max-width: 85%;
    margin: auto;
}
#hide-about{
    display:none;
}
@media (width > 1000px) {
    #products{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    #products div{
    padding: 15px
    }
    #products div:not(:last-child){
    border-right: 1px solid black
    }
    #computers{
        grid-column: 1;
    }
    #choirs{
        grid-column: 2;
    }
    #candy{
        grid-column: 3;
    }
    #sign-up form{
        display:block;
        width: 600px;
        
    }
    #sign-up input{
        margin-right: 10px;
    }
    #sign-up button{
        max-width: 89px;
    }
    #hide-about{
        display: inline;
    }
}