html{    scroll-padding-top: 50.4px;}
body{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    font-family: helvetica,arial,sans-serif;
    margin:0;
}
.grid2{
    grid-column: 2;
}
nav, footer {
    background-color: black;
    color: white;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    position:sticky;
    width:100%;

}
nav{
    top:0;
}
header{
    background-color: lightgrey;
    height: 8em;
    place-content: center;
    place-items:center;
    border-radius: 0 0 5px 5px;
}
#Title{
    text-transform: uppercase;
}
footer{
    bottom:0;
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    display: inline-block;
    justify-self: start;
    margin-right: 1em;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
    color: red;
    cursor: pointer;
}
#name{
    background-color: gray;
}
.img-container{
    justify-items: center;
}

img{
    display:block;
    justify-self:start;
}
#sign-up {
    background-color: lightgrey;
    display: grid;
    height:12em;
    grid-template-rows: auto auto auto;
    justify-items: center;

}
#sign-up h4{
    grid-row:1;
}
#sign-up{
    border-radius: 5px; 
}
#sign-up form{
    grid-row:2;
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 0.5rem 1rem;                   
}
#sign-up input{
    border-radius: 5px;  
    box-shadow: 3px 5px 5px;
}
#sign-up button{
    width: 60%;
    justify-self: center;
}
#financials h3{
    justify-self: center;
}